n8n/wasapea-welcome-email.json
{
  "name": "WASAPEA - Welcome Email + Notify Edwin",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wasapea-welcome",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook (recibe lead)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\n\nconst planNames = {\n  emprendedor: 'Emprendedor (Gratis)',\n  pro: 'PRO 🔥 ($29/mes — 50% OFF de por vida)',\n  business: 'Business Escala ($69/mes)'\n};\n\nreturn {\n  email: lead.email,\n  name: lead.name || 'Futuro cliente',\n  plan: lead.plan || 'pro',\n  planName: planNames[lead.plan] || planNames.pro,\n  hasDiscount: lead.plan === 'pro' || !lead.plan,\n  date: new Date().toLocaleDateString('es-CO', { year: 'numeric', month: 'long', day: 'numeric' })\n};"
      },
      "id": "prepare-data",
      "name": "Preparar datos email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "samuel160612@gmail.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.hasDiscount ? '🎉 ¡Bienvenido a WASAPEA PRO! Tu 50% OFF está reservado' : '¡Bienvenido a WASAPEA PRO!' }}",
        "emailType": "text",
        "message": "¡Hola{{ $json.name !== 'Futuro cliente' ? ' ' + $json.name : '' }}!\n\n{{ $json.hasDiscount ? '🔥 ¡FELICIDADES! Tienes 50% OFF DE POR VIDA en Plan PRO. Tu descuento está reservado.\n\n' : 'Gracias por tu interés en WASAPEA PRO.\n\n' }}Estos son los detalles de tu registro:\n\n📅 Fecha: {{ $json.date }}\n📦 Plan seleccionado: {{ $json.planName }}\n\n⏳ ¿Qué sigue?\n\nEstamos ultimando los detalles del lanzamiento de WASAPEA PRO. En los próximos días recibirás:\n\n✅ Tu link de acceso al dashboard\n✅ Instrucciones para conectar tu WhatsApp en 30 segundos con un QR\n✅ Una demo personalizada por videollamada (opcional, sin costo)\n\nMientras tanto, si tienes preguntas, responde a este correo o escríbenos por WhatsApp:\n📱 +57 317 366 2752\n\n---\nWASAPEA PRO — Wasapea. Vende. Crece.\nEquipo WASAPEA | Colombia, LATAM 🇨🇴\n\nSi no solicitaste esto, ignora este mensaje.",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Enviar email bienvenida",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [650, 300],
      "credentials": {
        "smtp": {
          "id": null,
          "name": "Gmail WASAPEA"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8279852277",
        "text": "=📬 *¡Nuevo Lead en WASAPEA PRO!*\n\n👤 *{{ $('Preparar datos email').item.json.name }}*\n📧 `{{ $('Preparar datos email').item.json.email }}`\n📦 {{ $('Preparar datos email').item.json.planName }}\n📅 {{ $('Preparar datos email').item.json.date }}\n\n🔥 _Revisa Supabase → leads_",
        "additionalFields": {}
      },
      "id": "notify-telegram",
      "name": "Notificar a Edwin por Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"¡Bienvenido! Revisa tu correo para confirmar.\"\n}"
      },
      "id": "response",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook (recibe lead)": {
      "main": [
        [
          {
            "node": "Preparar datos email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos email": {
      "main": [
        [
          {
            "node": "Enviar email bienvenida",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar a Edwin por Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar email bienvenida": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar a Edwin por Telegram": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "1.0.0",
  "active": false
}
